.about__title {
  font-size: 18px;
  padding: 15px 0 0 0;

  &--white {
    color: #ffffff;
  }
}

.about__discription {
  font-size: 14px;
  line-height: 1.4em;
  padding-bottom: 32px;
  width: 280px;
  margin: 0 auto;

  &--white {
    color: #ffffff;
  }

  &--border {
    border-bottom: 1px solid #d6d6d6;
  }
}

.about__line-pic {
  width: 100%;
  position: relative;
  top: -1px;
}

.about {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;

  &--gray-bg {
    background-color: $light-gray;
  }

  &--blue-bg {
    background-color: $blue;
  }
}

.about__photo {
  position: relative;
  top: 5px;
}

@media (min-width: $tablet-width) {
  .about__line-pic {
    display: none;
  }

  .about {
    display: flex;
    border: none;
  }

  .about__photo {
    flex-basis: 512px;
    height: 256px;
    position: static;
  }

  .about__photo--order {
    order: -1;
  }

  .about__discription {
    display: block;
    width: 180px;
    padding-bottom: 37px;

    &--border {
      border-bottom: none;
    }
  }

  .about__text-part {
    margin: 0 auto;
    width: 256px;
  }

  .about--blue-bg {
    width: $tablet-width;
  }
  
  .about__title {
    width: 125px;
    margin: 0 auto;
    padding: 45px 0 18px 0;

    &--white {
      width: 165px;
    }
  }
}

@media (min-width: $desktop-width) {
  .about--blue-bg {
    width: $desktop-width;
  }

  .about__photo {
    flex-basis: 800px;
  }
  
  .about--gray-bg {
    flex-basis: 400px;
    justify-content: center;
  }

  .about__title {
    font-size: 21px;
  }

  .about__text-part {
    margin: 0 auto;
  }
}
