.menu {
  background-color: $blue;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  padding: 0;
}


.menu__item {
  list-style-type: none;
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;
}

.menu__link {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: #94b9d2;
  }
}

@media (min-width: $tablet-width) {
  .menu {
    background-color: #ffffff;
  }

  .menu__link {
    color: #000000;
    font-size: 14px;

    &:hover {
      background-color: #ffffff;
      color: #81b3d2;
    }

    &:active {
      background-color: #ffffff;
      color: #cacaca;
    }
  }

  .menu__item {
    border: none;
    position: relative;

    &:nth-child(1) {
      left: 15px;
    }

    &:nth-child(2) {
      left: 67px;
    }

    &:nth-child(3) {
      margin-left: 250px;
    }

    &:nth-child(4) {
      margin-right: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .menu__item {
    &:nth-child(2) {
      left: 35px;
    }

    &:nth-child(3) {
      margin-left: 280px;
    }

    &:nth-child(4) {
      margin-right: 10px;
    }
  }
}
