.presentation {
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
}

.presentation__title {
  font-size: 18px;
  margin: 18px 0 29px 0;
}

.presentation__discription {
  font-size: 14px;
  width: 240px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .presentation__title {
    font-size: 30px;
    padding: 69px 0 36px 0;
    margin: 0;
  }
}
