.review-block__like-pic {
  width: 22px;
  height: 22px;
}

.review-block__rating {
  display: flex;
  align-content: center;
  margin: 11px 0 21px 0;
}

.review-block__like-count {
  height: 22px;
  display: inline-flex;
  align-items: center;
  padding-left: 15px;
  padding-top: 4px;
}
