.top-intro__logo-link {
  display: flex;
  justify-content: center;
  width: 102px;
  margin: 0 auto;
}

.top-intro__logo-pic {
  z-index: 2;
}

.top-intro__bottom-pic {
  width: 100%;
  position: relative;
  top: 6px;
}

.top-intro__fixed-block {
  background-color: #ffffff;
  height: 56px;
  width: 100%;
  max-width: 320px;
  z-index: 1;
  position: absolute;
  box-shadow: 0 -5px 5px -5px #333333;
}

.top-intro__text-sedona {
  width: 229px;
  margin: 25px auto 19px auto;
  display: block;
  padding-bottom: 49px;

  &--width-mod {
    width: 280px;
  }
}

.top-intro {
  height: 446px;
  background-image: url("/img/sedona-index-mobile.jpg");
  background-position: center;
  background-size: 320px 390px;
  background-repeat: no-repeat;

  &--small {
    height: 266px;
    background-image: url("/img/sedona-photo-small-mobile.jpg");
    background-size: 320px 158px;
  }
}

@media (min-width: $tablet-width) {
  .top-intro__fixed-block {
    display: none;
  }

  .top-intro__figure {
    width: 700px;
    height: 63px;
    margin: 0 auto;
    position: relative;
    top: 45px;
    background-image: url("/img/bg-intro-triangle-mobile.png");
    background-position: center;
    background-size: 700px;
    background-repeat: no-repeat;
  }

  .top-intro__logo-link {
    position: relative;
    bottom: 55px;
  }

  .top-intro {
    background-image: url("/img/sedona-index-tablet.jpg");
    background-size: 768px 518px;
    height: 518px;

    &--small {
      height: 291px;
      background-image: url("/img/sedona-photo-small-tablet.jpg");
      background-size: 768px 291px;
    }
  }

  .top-intro__text-sedona {
    width: 458px;
    margin: 12px auto 19px auto;

    &--width-mod {
      width: 458px;
    }
  }
}

@media (min-width: $desktop-width) {
  .top-intro {
    background-image: url("/img/sedona-index-desktop.jpg");
    background-size: 1200px 518px;

    &--small {
      height: 291px;
      background-image: url("/img/sedona-photo-small-desktop.jpg");
      background-size: 1200px 301px;
    }
  }
}
