.user-form__title {
  font-size: 18px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  padding: 24px 0 24px 0;
}

.user-form__label {
  color: $gray;
  font-size: 14px;
  text-transform: uppercase;
}

.user-form__contact-input {
  border: 0;
  background-color: $light-gray;
  width: 222px;
  padding-left: 22px;
  font-size: 18px;
  font-weight: 700;
  color: #000000;

  &::placeholder {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
  }
}

.user-form__input {
  display: inline-block;
  border: 0;
  background-color: $light-gray;
  width: 192px;
  padding: 0 0 0 22px;
  height: 58px;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  margin: 10px 0 10px 0;

  &--name {
    width: 230px;
  }

  &::placeholder {
    font-weight: 700;
    color: #000000;
  }
}

.user-form__required {
  display: none;
}

.user-form__contact-text {
  font-size: 14px;
  padding-left: 32px;
  color: &gray;
  text-transform: uppercase;
}

.user-form__checkbox-text {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.user-form__circle-checkbox {
  visibility: hidden;
  position: absolute;
}
//.user-form__square-checkbox {
//
//}

.user-form__submit {
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  background-color: $blue;
  margin: 51px auto 78px auto;
  border: 0;
  width: 280px;
  height: 58px;
  font-size: 18px;
}

.user-form__side-block {
  width: 58px;
  height: 100%;
  background-color: #e6e6e6;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;

  &--img-phone {
    background-image: url("../img/icon-phone.svg");
  }

  &--img-email {
    background-image: url("../img/icon-mail.svg");
  }
}

.user-form__flex {
  display: flex;
  justify-content: center;
  margin: 14px 0 20px 0;
  height: 58px;
}

.user-form__emotions {
  border: 0;
  background-color: $light-gray;
  padding: 22px 20px;
  font-weight: 700;
  font-size: 14px;
  display: block;
  margin: 0 auto;
  width: 240px;

  &::placeholder {
    color: #000000;
  }
}

.user-form__map-marker {
  width: 60px;
  height: 60px;
  margin: 10px 10px 10px 0;
}

@media (min-width: $tablet-width) {
  .user-form {
    width: 648px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .user-form__part {
    display: flex;
    flex-direction: column;

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 1;
      flex-basis: 648px;
    }

    &:nth-child(3) {
      order: -1;
    }

    &:nth-child(4) {
      order: 2;
      flex-basis: 648px;
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &:nth-child(5) {
      order: 3;
      display: flex;
    }
  }

  .user-form__title {
    &--left {
      text-align: left;
    }

    &--check {
      flex-basis: 648px;
    }
  }

  .user-form__contact-input {
    width: 568px;
  }

  .user-form__emotions {
    width: 648px;
    height: 160px;
  }

  .user-form__checkbox-text {
    &--width-mod {
      flex-basis: 324px;
    }
  }

  .user-form__required {
    display: inline;
    align-self: flex-end;
    position: relative;
    bottom: 82px;
  }

  .user-form__submit {
    margin: 51px 0 40px 0;
    align-self: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .user-form {
    width: 960px;
  }

  .user-form__contact-input {
    width: 235px;
  }

  .user-form__part {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &:nth-child(2) {
      order: 1;
      flex-basis: 960px;
      flex-direction: row;
    }

    &:nth-child(4) {
      order: 2;
      flex-basis: 960px;
      display: flex;
      flex-direction: row;
    }

    &:nth-child(5) {
      flex-basis: 960px;
    }

    &--desktop {
      flex-basis: 400px;
    }
  }

  .user-form__title {
    &--padding {
      padding-left: 80px;
    }

    &--full-width {
      flex-basis: 100%;
    }

    &--check {
      flex-basis: 960px;
    }
  }

  .user-form__map-marker {
    padding-right: 10px;
  }

  .user-form__input {
    width: 294px;
    margin-left: 10px;
  }

  .user-form__input--name {
    width: 100%;
    max-width: 331px;
  }

  .user-form__contact-text {
    padding-left: 0;
    padding-right: 16px;
    display: flex;
    align-items: center;
  }

  .user-form__contact-test {
    &--hide {
      display: none;
    }
  }

  .user-form__flex {
    &--margin-right {
      margin-right: 82px;
    }
  }

  .user-form__checkbox-text {
    &--width-mod {
      flex-basis: 240px;
    }
  }

  .user-form__emotions {
    width: 960px;
    height: 116px;
  }
}
