.footer-part{
  text-align: center;
  &__hashtag{
    font-size: 21px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 40px;
    display: inline-block;
  }

}
