$blue:#81b3d2;
$gray:#333333;
$light-gray:#f2f2f2;

@import "scaffolding.scss";
@import "menu.scss";
@import "top-intro.scss";
@import "review-block.scss";
@import "welcome.scss";
@import "user-form.scss";
@import "presentation.scss";
@import "about.scss";
@import "recommends.scss";
@import "interested.scss";
@import "footer-part.scss";
@import "social.scss";
@import "made-by.scss";


//h1,p{
//  padding: 0;
//  margin: 0;
//}

