.header-part{
  max-width: 320px;
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .header-part {
    max-width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .header-part {
    max-width: $desktop-width;
  }
}
