.recommends h1,
p {

  margin: 0;
}

.recommends {
  margin: 25px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.recommends__title {
  font-size: 18px;
  padding: 10px 0 25px 0;
}

.recommends__discription {
  padding-bottom: 20px;
}

.recommends__pic {
  display: inline-block;
  margin: 0 13px 25px 25px;
  width: 40px;
  height: 37px;
}

.recommends__text-block {
  width: 232px;
  display: inline-block;
}

.recommends__item {
  display: flex;
}

@media (min-width:$tablet-width) {
  .recommends{
    flex-grow: 1;
    display: flex;
  }

  .recommends__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 256px;
  }

  .recommends__text-block {
    text-align: center;
    display: block;
    width: 190px;
  }

  .recommends__title {
    display: block;
    width: 190px;
    padding: 32px 0 29px 0;
  }
  .recommends__pic {
    margin: 0;
  }
}

@media (min-width:$desktop-width) {
  .recommends__item {
    flex-basis: 400px;
  }

  .recommends__title {
    font-size: 21px;
  }
}
